@import "body.css";

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.fa.fa-github-square.fa-2x {
    color: #6F021D;
}
.fa.fa-twitter-square.fa-2x {
    color: #6F021D;
}
.fa.fa-youtube-square.fa-2x {
    color: #6F021D;
}
.fa.fa-paw.fa-2x {
    color: #6F021D;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 41px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.fa.fa-github-square.fa-2x {
    color: #6F021D;
}
.fa.fa-twitter-square.fa-2x {
    color: #6F021D;
}
.fa.fa-youtube-square.fa-2x {
    color: #6F021D;
}
.fa.fa-paw.fa-2x {
    color: #6F021D;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header {
  	text-align: left;
 }
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .btn.btn-sm.btn-default{
  background:-webkit-gradient(linear, 0 100%, 0 0%, from(#880223), to(#BA0330));
  border-color:#79021F #6F021D #600219;
  border-radius:0.25em;
  border-style:solid;
  border-width:1px;
  box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0 inset, rgba(0, 0, 0, 0.0627451) 0 1px 2px;
  color:#FFFFFF !important;
  font-size:1em;
  padding:1em 2em;
  text-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 0;
  font-size:larger;
  vertical-align: middle;
  line-height:1em;
  text-align:center;
  text-decoration:none;
}

 .btn.btn-default.btn-large{
  background:-webkit-gradient(linear, 0 100%, 0 0%, from(#880223), to(#BA0330));
  border-color:#79021F #6F021D #600219;
  border-radius:0.25em;
  border-style:solid;
  border-width:1px;
  box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0 inset, rgba(0, 0, 0, 0.0627451) 0 1px 2px;
  color:#FFFFFF !important;
  font-size:4em;
  padding:1em 2em;
  text-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 0;
  font-size:larger;
  vertical-align: middle;
  line-height:1em;
  text-align:center;
}

.fa.fa-github-square.fa-2x {
    color: #6F021D;
}
.fa.fa-twitter-square.fa-2x {
    color: #6F021D;
}
.fa.fa-youtube-square.fa-2x {
    color: #6F021D;
}
.fa.fa-paw.fa-2x {
    color: #6F021D;
}
  /* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
    border-bottom: 0;
  }
}
